.menu-item-button {
  width:100%;
  text-align:left !important;
}

md-icon.big-logo {
  width: 35%;
  height: initial;
}

.control-led {
    width: 40px;
    height: 8px;
    border-radius: 3px;
    margin-top: 6px;
    background: lightgray;
}

.state-on {
    background: red;
  
}

.state-off {
    background: black;
  
}

.state-unknown {
    background: lightgray;
}