<md-progress-linear md-mode="indeterminate" ng-show="ctrl.loginDisabled"></md-progress-linear>
<md-card>
    <md-card-content>
        <div layout=row>
            <md-icon md-svg-src="logo" class="big-logo"></md-icon>
        </div>

        <div layout="row" layout-align="center none">
            <form name="loginForm" ng-submit="ctrl.submitPassword()">
                <div layout="row">
                    <md-input-container>
                        <label translate="W_PASSWORD"></label>
                        <input type="password" ng-model="ctrl.password" ng-disabled="ctrl.loginDisabled">
                        <ng-message ng-if="ctrl.loginFailed && ctrl.password == ''" translate="WRONG_PASSWORD"></ng-message>
                    </md-input-container>
                </div>
                <div layout="row" layout-align="end none">
                    <md-button ng-disabled="ctrl.loginDisabled" class="md-raised md-primary" ng-click="ctrl.submitPassword()" translate="W_LOGIN"
                               aria-label="Login"></md-button>
                </div>
            </form>
        </div>
    </md-card-content>
    <md-card>
