<div ng-controller="ControlController as c" layout="row" layout-align="space-between center">
    <md-button ng-click="c.powerOn( control )" class="md-fab md-primary" aria-label="Power On">
        <md-icon md-svg-src="power-on"></md-icon>
    </md-button>
    <div layout="column" layout-align="center center">
        <div class="control-led" ng-class="c.state == 'on' ? 'state-on' : 'state-off'"></div>
        <md-card-title>{{control.caption}}</md-card-title>
    </div>
    <md-button ng-click="c.powerOff( control )" class="md-fab md-primary" aria-label="Power Off">
        <md-icon md-svg-src="power-off"></md-icon>
    </md-button>
</div>