<div ng-controller="PanelController as ctrl">
    <md-progress-linear md-mode="indeterminate" ng-show="ctrl.showProgress"></md-progress-linear>
    <md-card ng-show="ctrl.showControls">
        <md-card-content>
            <div ng-repeat-start="c in ctrl.controls">
                <control-widget control="c"></control-widget>
            </div>
            <md-divider ng-repeat-end ng-if="!$last"></md-divider>
        </md-card-content>
    </md-card>
    <md-card ng-show="ctrl.showControls">
        <md-card-content>
            <div layout="row" layout-align="space-between center">
                <md-button ng-click="ctrl.powerOnAll()" class="md-fab md-warn" aria-label="Power On All">
                    <md-icon md-svg-src="power-on"></md-icon>
                </md-button>
                <div layout="column" layout-align="center center">
                    <md-card-title translate="ALL_CONTROLS"></md-card-title>
                </div>
                <md-button ng-click="ctrl.powerOffAll()" class="md-fab md-warn" aria-label="Power Off All">
                    <md-icon md-svg-src="power-off"></md-icon>
                </md-button>
            </div>
        </md-card-content>
    </md-card>
</div>