<!DOCTYPE html>
<html lang="en" ng-app="ha-remote">

<head>
  <title translate="TITLE"></title>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

  <!-- Safario on iOS specifics -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="assets/png/apple-touch-icon-180x180.png">
  <link rel="apple-touch-icon" sizes="167x167" href="assets/png/apple-touch-icon-167x167.png">
  <link rel="apple-touch-icon" sizes="152x152" href="assets/png/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="120x120" href="assets/png/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="76x76" href="assets/png/apple-touch-icon-76x76.png">

  <!-- Anroid/Chrome manifest -->
  <link rel="manifest" href="/assets/manifest.json">

  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
  <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css" />
  <link rel="stylesheet" href="assets/app.css" />

  <style type="text/css">
    /**
     * Hide when Angular is not yet loaded and initialized
     **/
    
    [ng\:cloak],
    [ng-cloak],
    [data-ng-cloak],
    [x-ng-cloak],
    .ng-cloak,
    .x-ng-cloak {
      display: none !important;
    }
  </style>

</head>

<body layout="column" ng-controller="MainController as ctrl" ng-cloak>
  <md-toolbar layout="row">
    <md-button class="menu" hide-gt-sm ng-click="ctrl.toggleMenu()" aria-label="Show Menu">
      <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
  </md-toolbar>

  <section flex layout="row">

    <!-- Menu -->

    <md-sidenav id="sidenav" ng-click="ctrl.toggleMenu()" md-is-locked-open="$mdMedia('gt-sm')" md-component-id="left" class="md-whiteframe-z2">

      <md-content layout-padding>
        <h1 class="md-md-title" translate="HEADLINE"></h1>
      </md-content>

      <md-divider ng-show="ctrl.selected != 'login'"></md-divider>

      <md-content layout-padding ng-show="ctrl.selected != 'login'">
        <md-list>
          <md-list-item >
            <md-icon md-svg-icon="remote"></md-icon>
            <md-button translate="MENU_PANEL" ng-click="ctrl.select('panel')" ng-class="{ 'md-warn' : ctrl.selected == 'panel'}" class="md-primary menu-item-button"
              aria-label="Show control panel">
            </md-button>
          </md-list-item>
        </md-list>
      </md-content>

      <md-divider></md-divider>

      <md-content layout-padding>
        <md-list>
          <md-list-item ng-show="ctrl.selected != 'login'">
            <md-icon md-svg-icon="information-outline"></md-icon>
            <md-button translate="MENU_ABOUT" ng-click="ctrl.select('about')" ng-class="{ 'md-warn' : ctrl.selected == 'about'}" class="md-primary menu-item-button"
              aria-label="Show information about the app">
            </md-button>
          </md-list-item>
          <md-list-item ng-show="ctrl.selected != 'login'">
            <md-icon md-svg-icon="logout"></md-icon>
            <md-button translate="MENU_LOGOUT" ng-click="ctrl.select('logout')" ng-class="{ 'md-warn' : ctrl.selected == 'login'}" class="md-primary menu-item-button"
              aria-label="Log out">
            </md-button>
          </md-list-item>
          <md-list-item ng-show="ctrl.selected == 'login'">
            <md-icon md-svg-icon="login"></md-icon>
            <md-button translate="MENU_LOGIN" ng-click="ctrl.select('login')" ng-class="{ 'md-warn' : ctrl.selected == 'login'}" class="md-primary menu-item-button"
              aria-label="Log out">
            </md-button>
          </md-list-item>
        </md-list>
        <md-content>

    </md-sidenav>

    <md-content flex id="content" layout="column">

      <!-- Login form -->

      <div ng-show="ctrl.selected == 'login'">
        <md-progress-linear md-mode="indeterminate" ng-show="ctrl.loginDisabled"></md-progress-linear>
        <md-card>
          <md-card-content>
            <div layout=row>
              <md-icon md-svg-src="logo" class="big-logo"></md-icon>
            </div>

            <div layout="row" layout-align="center none">
              <form name="loginForm" ng-submit="ctrl.submitPassword()">
                <div layout="row">
                <md-input-container>
                  <label translate="W_PASSWORD"></label>
                  <input type="password" ng-model="ctrl.password" ng-disabled="ctrl.loginDisabled">
                  <ng-message ng-if="ctrl.loginFailed && ctrl.password == '' " translate="WRONG_PASSWORD"></ng-message>
                </md-input-container>
                </div>
                <div layout="row" layout-align="end none">
                <md-button ng-disabled="ctrl.password == '' || ctrl.loginDisabled" class="md-raised md-primary" ng-click="ctrl.submitPassword()"
                  translate="W_LOGIN" aria-label="Login"></md-button>
                  </div>
              </form>
            </div>
          </md-card-content>
          <md-card>

      </div>

      <!-- Control Panel -->

      <div ng-if="ctrl.selected == 'panel'">
        <div ng-controller="PanelController as ctrl">
          <md-progress-linear md-mode="indeterminate" ng-show="ctrl.showProgress"></md-progress-linear>
          <md-card ng-show="ctrl.showControls">
            <md-card-content>
              <div ng-repeat-start="c in ctrl.controls" layout="row" layout-align="space-between center">
                <md-button ng-click="ctrl.powerOn( c )" class="md-fab md-primary" aria-label="Power On">
                  <md-icon md-svg-src="power-on"></md-icon>
                </md-button>
                <md-card-title>{{c.caption}}</md-card-title>
                <md-button ng-click="ctrl.powerOff( c )" class="md-fab md-primary" aria-label="Power Off">
                  <md-icon md-svg-src="power-off"></md-icon>
                </md-button>

              </div>
              <md-divider ng-repeat-end ng-if="!$last"></md-divider>
            </md-card-content>
          </md-card>
          <md-card ng-show="ctrl.showControls">
            <md-card-content>
              <div layout="row" layout-align="space-between center">
                <md-button ng-click="ctrl.powerOnAll()" class="md-fab md-warn" aria-label="Power On All">
                  <md-icon md-svg-src="power-on"></md-icon>
                </md-button>
                <md-card-title translate="ALL_CONTROLS"></md-card-title>
                <md-button ng-click="ctrl.powerOffAll()" class="md-fab md-warn" aria-label="Power Off All">
                  <md-icon md-svg-src="power-off"></md-icon>
                </md-button>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>

      <!-- About page -->

      <div ng-if="ctrl.selected == 'about'">
        <div ng-controller="AboutController as ctrl">
          <md-card>
            <md-card-content class="md-body-1">
              <div layout=row>
                <md-icon md-svg-src="logo" class="big-logo"></md-icon>
              </div>
              <div layout="column">
                <h1 class="md-title" translate="APPNAME"></h1>
                <h2 class="md-subhead"><span translate="W_VERSION"></span> <span ng-bind="::ctrl.version"></span></h2>
                <h2 class="me-title" translate="W_MODULES"></h2>
                <p ng-repeat="pi in ctrl.packageInfos">
                  <span ng-bind="::pi.name"></span> - v<span ng-bind="::pi.version"></span>
                </p>

                <h2 class="me-title">The MIT License (MIT)</h2>
                <p>Copyright (c) <span ng-bind="::ctrl.copyrightYear"></span> <span ng-bind="::ctrl.copyrightHolders"></span></p>

                <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated
                  documentation files (the "Software"), to deal in the Software without restriction, including without limitation
                  the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software,
                  and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

                <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions
                  of the Software.</p>

                <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED
                  TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT
                  SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN
                  AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE
                  USE OR OTHER DEALINGS IN THE SOFTWARE.</p>
            </md-card-content>
          </md-card>
          </div>
        </div>
    </md-content>
  </section>


  <script src="./node_modules/angular/angular.js"></script>
  <script src="./node_modules/angular-animate/angular-animate.js"></script>
  <script src="./node_modules/angular-aria/angular-aria.js"></script>
  <script src="./node_modules/angular-material/angular-material.js"></script>
  <script src="./node_modules/angular-translate/dist/angular-translate.min.js"></script>
  <script src="./node_modules/angular-local-storage/dist/angular-local-storage.min.js"></script>

  <script src="./src/ha-remote.js"></script>
  <script src="./src/shared/translations/translations.js"></script>
  <script src="./src/main/ConfigService.js"></script>
  <script src="./src/main/AboutService.js"></script>
  <script src="./src/shared/authn/authn.js"></script>
  <script src="./src/shared/authn/AuthnService.js"></script>
  <script src="./src/main/PowerControlService.js"></script>
  <script src="./src/main/MainController.js"></script>
  <script src="./src/main/PanelController.js"></script>
  <script src="./src/main/AboutController.js"></script>

</body>

</html>